.hamber { 
    position: absolute; 
    top:20px; 
    right: 20px;
    width: 35px;
    height: 27px;
    cursor: pointer;
}
.hamber span{
    width:33px;
    height:5px;
    background:cadetblue;
    display: inline-block;
    position: absolute;
    transition: all 0.4s;
}
.hamber .top{
    top: 0;
}
.hamber .middle{
    top:11px;
}
.hamber .bottom{
    top:22px;
}

.hamber.active .top {
    top : 11px; 
    background-color: black;
    transform: rotate(45deg);
}
.hamber.active .middle{
    opacity: 0;
}

.hamber.active .bottom {
    top:11px;
    background-color: black;
    transform: rotate(-45deg);
}
