input[type="radio"]:checked + label {
    font-weight: bold;
}

.sns p { 
    width: 50%;
    line-height: 25px;
    height:95px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}